.Task {
  border-radius: 4px;
  border: solid 1px #C2967F;
  background-color: white;
  padding: 8px;
  color:  #916852;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.Task p {
  margin: 3px auto;
  font-size: 14px;
  overflow: auto;
  font-family: 'Roboto Slab', serif;
}

.delete-button {
  background-color: #916852;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  margin-left: 3px;
  font-weight: bold;
}
