.add-task-form {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-task-form > input {
    border: solid 1px #916852;
    border-radius: 5px;
    margin: 4px auto;
    text-align: center;
    max-width: 80px;
    color: #916852;
    font-family: 'Roboto Slab', serif;
}
.add-task-form > input::placeholder {
    color: #916852;
    font-family: 'Roboto Slab', serif;
}
.add-task-submit {
    font-size: 20px;
    max-width: 40px;
    border-radius: 10px;
    margin: 2px auto;
    text-align: center;
    background-color: white;
    color: #916852;
    font-weight: bold;
    transition-property: transform;
    transition-duration: 1s;
}
.add-task-submit:hover {
    background-color: skyblue;
    transform: rotateY(180deg);
    cursor: pointer;
  }