.add-task-form {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80px;
}
.add-task-form > input {
    border: solid 1px black;
    border-radius: 5px;
    margin: 4px auto;
    text-align: center;
}
.add-task-submit {
    font-size: 20px;
    max-width: 40px;
    border-radius: 10px;
    margin: 2px auto;
}