* {
  box-sizing: border-box;
}

.headerCreate {
  text-align: center;
  color: #C2967F;
  font-size: 50px;
  margin-bottom: 60px;
  font-family: 'Roboto Mono', monospace;
}
.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form > label {
  margin: 10px;
  font-size: 30px;
  color: #916852;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.create-form > input[type="text"] {
  margin: 10px;
  border-radius: 2px;
  height: 45px;
  width: 200px;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  color: #916852;
}
button.create-submit {
  margin: 10px;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
  min-width: 140px;
  min-height: 40px;
  background: white;
  color: #916852;
  font-family: 'Roboto Mono', monospace;
  transition-property: transform;
  transition-duration: 1s;
}
button.create-submit:hover {
  background-color: skyblue;
  transform: rotateY(180deg);
  cursor: pointer;
}
