* {
  box-sizing: border-box;
}

.headerJoin {
  text-align: center;
  color: #C2967F;
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;
}
.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-form > label {
  margin: 10px;
  font-size: 30px;
  color: #916852;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.join-form > input[type="text"] {
  margin: 10px;
  border-radius: 2px;
  height: 45px;
  width: 200px;
  font-size: 25px;
  color: #916852;
  font-family: 'Roboto Slab', serif;
}
button.join-submit {
  margin: 10px;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
  min-width: 140px;
  min-height: 40px;
  background-color: white;
  color: #916852;
  font-family: 'Roboto Mono', monospace;
}
button:hover {
  background-color: rgb(176, 241, 249);
}
