
.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    color: #C2967F;
}
.id {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    color: #C2967F;
}
.logo {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #C2967F;
}
.logo:hover {
    color: skyblue;
    cursor: pointer;
}
@media only screen and (min-width: 600px) {
    .title {
        font-size: 75px;
    }
    .id {
        font-size: 20px;
    }
    .logo {
        font-size: 30px;
    }
}