
.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}
.id {
    font-size: 12px;
}
.logo {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}
.logo:hover {
    color: lightblue;
}